.WorksComponent {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
    max-width: 400px;
    border: 1px solid rgba(46, 66, 70,0.1);
    background-color: rgba(250, 250, 250, 0.05);
    transition-duration: 0.5s;
    transition-property:transform;
    mix-blend-mode: multiply;
}

.Works_logo img{
    height: 60px;
    width: 60px;
    border: 1px solid rgba(46, 66, 70,0);
    border-radius: 50%;

}

.Works_desk {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
}
.Works_desk h3{
    height: 10px;
}
.Works_desk p{
    width: 90%;
    height: 40px;
}



.WorksComponent:hover {
    mix-blend-mode: normal;
    border-color: rgb(0, 255, 255);
    transform: scale(1, 1.2) ;
    transition-duration: 0.5s;
    transition-property:transform;
}

.look {
    display: flex;
    height: 25px;

}

.look a{
    outline: none;
    text-decoration: none;
    color: black;
}

a:hover {
    color: aqua;
}

