.Works {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
}

@media (max-device-width: 1280px) {
    .Works {
        flex-direction:column;
        width: 100%;
    }
  }