.SkillsComponent {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 400px;
    border: 1px solid rgba(46, 66, 70,0.1);
    background-color: rgba(250, 250, 250, 0.05); 
    transition-duration: 0.5s;
    transition-property:transform;
    mix-blend-mode: multiply;
    
}

.Skills_logo img{
    height: 40px;
    width: 40px;
    border: 1px solid rgba(46, 66, 70,0);
    border-radius: 50%;
}

.Skills_desk {
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: center;
}
.Skills_desk h3{
    height: 10px;
}
.Skills_desk p{
    width: 90%;
}

.SkillsComponent:hover {
    border-color: aqua;
    mix-blend-mode: normal;
    transform: scale(1, 1.15) ;
    transition-duration: 0.5s;
    transition-property:transform;
    
}

.SkillsComponent:hover img{
    border-color: aqua;
    
}
