.Skills {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 30vh;
    flex-wrap: wrap;
}

@media (max-device-width: 1280px) {
    .Skills {
        flex-direction:column; 
        width: 100%;
        height: auto;
    }
  }