.Remote_work {
    width: 50%;
    border: 1px solid black;
    margin: 10px auto;
    border-radius: 10px;
    background-color: rgb(221, 232, 238);
}

.Remote_work button {
    height: 25px;
    width: 20%;
    margin: 10px auto;
    background-color: #fff;
}


.Remote_work:hover {
    border-color: aqua;
}
.Remote_work:hover button {
    border-color: aqua;
}

.Remote_work button:hover {
    color: aqua;
}

@media (max-device-width: 1280px) {
    .Remote_work {
        width: 100%;
    }
    .Remote_work button{
        width: 40%;
    }
  }