.footer{
    width: 50%;
    margin: 10px auto;
    border: 1px solid black;
    border-radius: 10px;
    background-color: rgb(221, 232, 238);
    
}
.rules{
    height: 50px;
    width: 65%;
    margin: 10px auto;
    border: 1px solid black;
    border-radius: 10px;
    background-color: #fff;
}

@media (max-device-width: 640px) {
    .footer {
        width: 100%;
    }
  }