.Header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 50px;
    position: fixed;
    z-index: 5;
}

.Menu {
    display: flex;
    flex-direction: column;  
    font-size: 200%;
}

.Links {
    margin-top: 15px;
    margin-left: 15px;
    outline: none;
    text-decoration: none;
    color: black;
    border-radius: 5px;
}

.Links a:hover {
    color: aqua;
}

@media (max-device-width: 1280px) {
    .Menu {
        width: 80%;
        flex-direction: row;
        font-size: 120%;
    }
  }