.Header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 50px;
    
}

.Menu {
    margin: 10px auto;
    border: 1px solid black;
    width: 50% ;
    height: 30px;
    border-radius: 5px;
    background-color: rgb(221, 232, 238);
}

.Links {
    padding: 0px 5px 5px 0px ;
    height: 20px;
    margin-right: 30px;
    outline: none;
    text-decoration: none;
    color: black;
    border-radius: 5px;
}

a:hover {
    color: aqua;
}

@media (max-device-width: 1280px) {
    .Menu {
        width: 100%;
    }
  }