.Description {
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    flex-wrap: wrap;
    border: 1px solid rgba(255, 255, 255,0);
    border-radius: 10px;
    width: 70%;
    height: 40vh;
    background-color: rgba(109, 155, 179,0);
    opacity: 0.85;
}

.Typing {
    width: 49ch;
    max-width: 250px;
    animation: Typing 2s steps(22), blink 0.5s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid;
    font-family: monospace;
    font-size: 1em;
    color: rgb(2, 39, 71);
}
@keyframes Typing {
    from {
        width: 0;
    }
}
@keyframes blink {
    50% {
        border-color: transparent;
    }
}

.Text_description {
    width: 33%;
    max-width: 300px;
    height: auto;
    border: 1px solid rgba(255, 255, 255,0);
    border-radius: 10px;
    font-size: 120%;
}

.Photo_description img {
    border-radius: 50%;
    height: 250px;
    width: 250px;
    transition-duration: 1.5s;
    transition-property:transform;
}

.Photo_description img:hover {
    transform: scale(1, 1.2);
    transition-duration: 0.5s;
    transition-property:transform;
}


@media (max-device-width: 1280px) {
    .Description{
        flex-direction: column;
        width: 100%;
    }
    .Text_description{
        font-size: 150%;
    }
    .Photo_description img {
        height: 150px;
        width: 150px;
    }
  }