.Description {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: wrap;
    border: 1px solid rgba(255, 255, 255,0);
    border-radius: 10px;
    width: 70%;
    height: 40vh;
    background-color: rgba(109, 155, 179,0);
    opacity: 0.85;
}

.Text_description {
    width: 33%;
    height: auto;
    border: 1px solid rgba(255, 255, 255,0);
    border-radius: 10px;
    font-size: 200%;
    transform: rotate(-20deg);
    transition-duration: 1.5s;
    transition-property:transform;
}

.Photo_description img {
    border-radius: 50%;
    height: 250px;
    width: 250px;
    transition-duration: 1.5s;
    transition-property:transform;
}

.Photo_description img:hover {
    transform: scale(1, 1.2);
    transition-duration: 0.5s;
    transition-property:transform;
}

.Text_description:hover {
    transform: scale(1, 1.3);
    transition-duration: 0.5s;
    transition-property:transform;
}

@media (max-device-width: 1280px) {
    .Description{
        flex-direction: column;
        width: 100%;
    }
    .Text_description{
        font-size: 150%;
    }
    .Photo_description img {
        height: 150px;
        width: 150px;
    }
  }