.Contacts {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid black;
  width: 50%;
  border-radius: 10px;
  background-color: rgb(221, 232, 238);
}

.Form {
  margin: auto;
  display: flex;
  flex-direction: column;
  margin: 0px auto;
  width: 33%;
}

.Form textarea {
  margin-top: 10px;
  height: 100px;
  width: 100%;
  border: 1px solid black;
  border-radius: 10px;
}

.Form input {
  margin-top: 10px;
  height: 20px;
  width: 100%;
  border: 1px solid black;
  border-radius: 5px;
}

.Form button {
  margin: 10px 0px 5px 0px;
  width: 100%;
  background-color: #fff;
  border: 1px solid black;
  border-radius: 5px;
}

.Form input:hover {
  border-color: aqua;
}

.Form textarea:hover {
  border-color: aqua;
}

.Form button:hover {
  border-color: aqua;
  color: aqua;
}

@media (max-device-width: 1280px) {
  .Contacts {
      width: 100%;
  }
}